---
import ProfileLayout from "@/layouts/ProfileLayout.astro";

const { locals } = Astro;
---

<ProfileLayout title="Your Waiter">
    <h1>{locals.welcomeTitle()}</h1>
    <form action="/api/auth/sign-out">
        <button type="submit">Cerrar sesión</button>
    </form>
</ProfileLayout>
