---
import AuthLayout from "@/layouts/AuthLayout.astro";
---

<AuthLayout title="Your Waiter">
    <h1>Bienvenido</h1>
    <form action="/api/auth/sign-out">
        <button type="submit">Cerrar sesión</button>
    </form>
</AuthLayout>
