---
import ProfileLayout from "@/layouts/ProfileLayout.astro";
import NavigationCard from "@/components/NavigationCard.astro";

const { welcomeTitle, navigationOptions } = Astro.locals;
---

<ProfileLayout title="Your Waiter">
	<div class="container mx-auto flex flex-col gap-2">
	    <h1 class="text-center text-5xl font-bold mt-8 mb-4">{welcomeTitle()}</h1>
	    <div class="grid grid-cols-2 items-center gap-6">
		{
		    navigationOptions.map((option)=> (
		    <NavigationCard path={option.path} title={option.name} >
		    </NavigationCard>
		    ))
		}
	    </div>
	</div>
</ProfileLayout>
