---
import BaseLayout from "@/layouts/BaseLayout.astro";
import {
    ACCESS_TOKEN_NAME,
    REFRESH_TOKEN_NAME,
    HOME_URL,
} from "@/util/constants";

const { cookies, redirect } = Astro;

const accessToken = cookies.get(ACCESS_TOKEN_NAME);
const refreshToken = cookies.get(REFRESH_TOKEN_NAME);

if (accessToken && refreshToken) {
    return redirect(HOME_URL);
}
---

<BaseLayout title="Inicio de sesión">
    <h1>Iniciar sesión</h1>
    <form action="/api/auth/sign-in" method="POST">
        <label for="email">Correo</label>
        <input type="email" name="email" id="email" />
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" />
        <button type="submit">Iniciar sesión</button>
    </form>
</BaseLayout>
