---
import ProfileLayout from "@/layouts/ProfileLayout.astro"
---
<ProfileLayout title="Registrar nuevo ingrediente extra">
	<h1 class="text-center text-5xl font-bold mt-8 mb-4">Registrar nuevo ingrediente extra</h1>
</ProfileLayout>
